.dbg-border {
  border: 1px solid red !important;
}

.border-primary {
  border-color: var(--p-primary-color)
}

.bg-primary {
  background-color: var(--p-primary-color);
}
.text-primary {
  color: var(--p-primary-color);
}

.main {
  height: 100vh;
}

.page-container {
  min-height: 100%;
}
